/pedido-service/target/surefire-reports/com.eucomida.pedido.PedidoControllerTest.txt
/.idea/euComida.iml
/.idea/mavenHomeManager.xml
/pedido-service/target/surefire-reports/TEST-com.eucomida.pedido.PedidoControllerTest.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/.
/.idea/*
